#^css same=append

/*
	
	Hello! @shi made this ^.^=
	
	2018 MIT License
	
	Variables:
	
	------------------------------------------------------------------
	Basic colours for background and fonts
	------------------------------------------------------------------
	
	base 			- White				
	base_back 		- Hot mess		
	base_back_alt 	- Brinjal		
	base_font 		- Off black			

*/

:root {
  --base:#fff;
  --base_back:#ffd7e0;
  --base_back_alt:#7200e4;
  --base_font:#111;
}

/*

	Reset & base css
	
	body	|	100vh - Avoid the IE 10-11 `min-height` bug.

*/

*{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box;}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:top;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

a,img		{border:0; outline:none;}textarea:focus,input:focus{outline:0;}*:focus{outline:0;}
body, html	{-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; min-width:100%; width:100%; height:100%; height:100vh; margin:0 auto;}
body		{min-height:100%; min-height:100vh;}


/*

	Main styles for the entire site
	
	a		|	Transition css animations

*/

body 	{background-color:var(--base); color:var(--base_font); display:flex; flex-direction:column; font-family:'Fjord One',Arial,sans-serif; font-weight:400; font-size:16px; line-height:24px; position:relative; padding-top:2em; scroll-behavior:smooth;}

b		{font-weight:700;}
i		{font-style:italic;}

a		{-webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out;}

a 		{color:var(--base_font); text-decoration:none;}
a:hover {cursor:pointer; background-color:var(--base_back);}
a img 	{border:none;}

p		{padding-bottom:2em;}

.wrap		{margin:0 auto; width:960px; padding-bottom:4em; font-size:18px; line-height:26px;}
.logo_wrap	{padding-bottom:2em; position:relative;}
.logo_wrap span {font-size:2em; line-height:1.25em;}

.chart		{padding-bottom:4em; margin:0 auto; width:960px; text-align:center; padding-top:2em;}
.chart.min	{padding-bottom:0;}
.chart span	{display:block; margin:0 auto; font-size:16px; line-height:24px; padding-top:10px;}
span.cc		{padding:0; font-size:15px;}

.bio_img	{text-align:center; display:block; width:200px; height:200px; border-radius:250px; margin:0 auto; margin-bottom:1em;}

.att		{font-size:14px; line-height:18px; padding-bottom:2em;}
.tit		{border-bottom:1px solid var(--base_back_alt); margin-bottom:1em;}
ol			{list-style-type:decimal; list-style-position:inside;}
ol li		{padding-bottom:0.25em;}
.att p		{display:inline;}

.con		{font-size:14px; line-height:18px;}

.footer		{display:block; width:100%; text-align:right;}

/*

	Special effects for bio images
	
	https://bennettfeely.com/image-effects/
	
*/

.bio_img.shi {
  background-image: url('{_root}/data/shi.jpg');
  background-size: cover;
  background-position: center;
}


@supports (mix-blend-mode: multiply) {
  .bio_img {
    position: relative;
    overflow: hidden;
    background-color: magenta;
    background-blend-mode: screen;
  }
  .bio_img:before, .bio_img:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    mix-blend-mode: multiply;
    transform: scale(1.05);
  }
  .bio_img:before {
    background-color: yellow;
    background-blend-mode: screen;
    transform-origin: top left;
  }
  .bio_img:after {
    background-color: cyan;
    background-blend-mode: screen;
    transform-origin: bottom right;
  }
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

	body	{padding-top:4em; min-height:1px; max-height:999999px;}
	.footer	{bottom:0; height:450px;}

}
